<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
  <title>Animal Advocate</title>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <p class="error" *ngFor="let e of errors">{{e}}</p>
      </div>
      <div id="form" class="col-4">
        <form (submit)="editSubmit()">
          <!-- Row #1 -->
          <!-- {{ editPet | json }} -->
          <div class="form-row">
            <div class="col-md-12 mb-3">
              <label for="validationServer01">Pet Name</label>
              <input type="text" class="form-control" id="validationServer01" name="editPet.petName" [(ngModel)]="editPet.petName" required minlength="3" #petName="ngModel">
              <span class="warning" *ngIf="editPet.petName.length < 3">Pet name must be a minimum of 3 characters.</span>
              <div class="valid-feedback">
                Please provide a valid pet name.
              </div>
            </div>
            <div class="col-md-12 mb-3">
              <label for="validationServer03">Age</label>
              <select class="form-control" id="exampleFormControlSelect1" name="editPet.petAge" [(ngModel)]="editPet.petAge">
                <option value="0">Under 1</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15+">15+</option>
              </select>
              <span class="warning" *ngIf="!editPet.petAge">Pet age is required.</span>
              <div class="invalid-feedback">
                Please provide a valid pet age.
              </div>
            </div>
          </div>

          <!-- Row #2 -->
          <div class="form-row">
            <div class="col-md-12 mb-3">
              <label for="validationServer03">Type</label>
              <select class="form-control" id="exampleFormControlSelect1" name="editPet.petType" [(ngModel)]="editPet.petType" required #petType="ngModel">
                <option value="Dog">Dog</option>
                <option value="Cat">Cat</option>
              </select>
              <span class="warning" *ngIf="!editPet.petType">Pet type is required.</span>
              <div class="invalid-feedback">
                Please provide a valid pet type.
              </div>
            </div>
            <div class="col-md-12 mb-3">
              <label for="validationServer04">Breed</label>
              <input type="text" class="form-control" id="validationServer04" name="editPet.petBreed" [(ngModel)]="editPet.petBreed" required>
              <span class="warning" *ngIf="editPet.petBreed.length < 3">Pet breed must be a minimum of 3 characters.</span>
              <div class="invalid-feedback">
                Please provide a valid pet breed.
              </div>
            </div>
          </div>

          <!-- Row #3 -->
          <div class="form-row">
            <div class="col-md-4 mb-3">
              <label for="validationServer04">Gender</label>
              <select class="form-control" id="exampleFormControlSelect1" name="editPet.petGender" [(ngModel)]="editPet.petGender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
              <span class="warning" *ngIf="!editPet.petGender">Pet gender is required.</span>
              <div class="invalid-feedback">
                Please provide a valid pet gender.
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <label for="validationServer04">Coat Length</label>
              <select class="form-control" id="exampleFormControlSelect1" name="editPet.petCoatLength" [(ngModel)]="editPet.petCoatLength">
                  <option value="Short">Short</option>
                  <option value="Medium">Medium</option>
                  <option value="Long">Long</option>
                </select>
                <span class="warning" *ngIf="!editPet.petCoatLength">Pet coat length is required.</span>
              <div class="invalid-feedback">
                Please provide a valid pet coat length.
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <label for="validationServer04">House Trained</label>
              <select class="form-control" id="exampleFormControlSelect1" name="editPet.petHouseTrained" [(ngModel)]="editPet.petHouseTrained">
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select>
                <span class="warning" *ngIf="!editPet.petHouseTrained">Pet house trained is required.</span>
              <div class="invalid-feedback">
                Please provide a valid response on if the pet is house trained.
              </div>
            </div>
          </div>

          <!-- Row #4 -->
          <div class="form-row">
            <div class="col-md-12 mb-3">
              <label for="validationServer03">Characteristics</label>
              <input type="text" class="form-control" id="validationServer03" name="editPet.petCharacteristics" [(ngModel)]="editPet.petCharacteristics" required>
              <span class="warning" *ngIf="!editPet.petCharacteristics">At least 1 characteristic must be defined.</span>
              <div class="invalid-feedback">
                Please provide valid characteristics.
              </div>
            </div>
            <div class="col-md-12 mb-3">
              <label for="validationServer04">Pet Picture Link</label>
              <input type="text" class="form-control" id="validationServer04" name="editPet.petPictureLink" [(ngModel)]="editPet.petPictureLink" required minlength="3" #petPictureLink="ngModel">
              <span class="warning" *ngIf="!editPet.petPictureLink">Pet picture link is required.</span>
              <div class="invalid-feedback">
                Please provide a valid pet picture link.
              </div>
            </div>
          </div>
          
          <button class="myButton" type="submit">Submit</button>
        </form>
      </div>
      <div class="col"></div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>