<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
  <title>Animal Advocate</title>
</head>
<body>
  <div id="myNav2">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link nav2 active" [routerLink]="['/pets/about']">About Pet Adoption</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav2" [routerLink]="['/pets/dogcare']">Dog Care</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav2" [routerLink]="['/pets/catcare']">Cat Care</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav2" [routerLink]="['/pets/rescues']">Shelters & Rescues</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav2" [routerLink]="['/pets/videos']">Videos</a>
      </li>
    </ul>
  </div>
  <ngb-carousel>
    <ng-template ngbSlide>
      <img src="../assets/Eyes.jpg" class="carousel" alt="Random first slide">
      <div class="carousel-caption">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="../assets/Twins.jpg" class="carousel" alt="Random second slide">
      <div class="carousel-caption">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="../assets/Doctor.jpg" class="carousel" alt="Random third slide">
      <div class="carousel-caption">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="../assets/Orange.jpg" class="carousel" alt="Random fourth slide">
      <div class="carousel-caption">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="../assets/Cuddle.jpg" class="carousel" alt="Random fourth slide">
      <div class="carousel-caption">
      </div>
    </ng-template>
  </ngb-carousel>
  <div class="row">
    <div class="col"></div>
    <div class="col-6 main">
    <h2>Cat Care</h2>
    
    <p>Whether your new cat is coming from a shelter, a home, an urban street or a country barn, the first twenty-four hours in your home are special and critical. Before you bring a new cat into your life, it helps to understand a little bit about how cats relate to their world.</p>
    
    <p>For the cat, territory is of paramount importance. A cat views his territory the way most of us view our clothes; without them, we feel naked and vulnerable. Place us naked in a room filled with strangers and most of us would try to hide! It is common for cats, regardless of whether they come from homes or streets, to hide in a new territory. Very sensitive or under-socialized cats often hide for a week or more! You know that this cat is now a member of the family, but the cat doesn’t.</p>
    
    <p>You can help make the transition to a new home smoother and easier by providing some privacy for your new cat. If possible, start by preparing your home before you bring in the cat. Choose a room for the litter box; a bathroom works well. Set up the litter box with one to two inches of litter, and place it in a corner, if possible.</p>
    
    <p>Now create a safe haven for the cat to hide in. You can buy a covered cat bed but a cardboard box turned upside down with two “doors” cut in it will work nicely. Why two “doors?” Many cats seem to feel more secure if they have a second “escape” route. Get a box big enough for the cat to stand up, turn around, stretch out and lie down in — but keep it cozy! Place the box next to the wall or in a corner where the cat can see the door to the room. You don’t want the cat to feel trapped. Place a sisal, cork or corrugated cardboard scratching post next to it. Finally, clear off a shelf for the cat to perch on to view his new world.</p>
    
    <p>After you have prepared the bathroom, cat-proof every other room of your home. Are there raised surfaces for the cat? If the answer is “no,” make some! Cats need to be able to jump up and survey their territory. Do you have valuable mementos that are easily broken? Put them away until your cat is happily moved in. Check out all the nooks and crannies. Are there places that could be dangerous for the cat to explore or hide in? If so, block them off. Finally, put a scratching post or pad in every room.</p>
    
    <p>If circumstances require that you bring in the cat before your home is ready, keep him in his carrier until you have his room set up! He will be fine in there for a while longer. Opposite the litter box, place a bowl of fresh water. After the room is set up, place the carrier next to the “safe haven.” Close the bathroom door before opening the carrier. Do not pull the cat out. Allow him to come out on his own and begin to explore his new home. Now, leave the room. Yes, leave…remember you are giving him time to acclimate. Go and prepare a small amount of a premium quality cat food. Quietly place it next to the water bowl.</p>
    
    <p>Do not reach for the cat! Let the cat come to you. If he doesn’t approach, come back in fifteen minutes. Do not be surprised if he doesn’t eat. It is common for re-homed cats to show no interest in eating, often for several days. Pick up the leftovers and leave. Come back in a couple of hours with a fresh meal of the same high-quality food. If the cat is openly soliciting affection, eating and not hiding, you can open the door and give him one more room. Do this slowly until you have introduced the cat to all the rooms in his new home.</p>
    
    <p>Remember to let the cat set the pace. Be patient. It may take weeks for the cat to comprehend that this foreign turf is his new territory.</p>
  </div>
    <div class="col"></div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>