a {
    text-decoration: none;
    color: black;
}
a:hover { 
    text-decoration: none;
    color: #f57c00;
}
#myPetName {
    font-weight: bold;
}
.myCard {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    height: 20%;
    margin: 2rem;
}
.myPic {
    min-height: 200px;
}
.card-text {
    text-align: center;    
}