.detailPic {
    width: 80%;
    height: 80%;
    margin: 1rem auto;
}
.myButton {
    font-weight: bold;
    margin: 1rem 0;
    padding: .5rem;
    border-radius: 1rem;
    color: white;
    background-color: #f57c00;
  }