<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
  <title>Animal Advocate</title>
</head>
<body>
  <div id="myNav2">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link nav2 active" [routerLink]="['/pets/about']">About Pet Adoption</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav2" [routerLink]="['/pets/dogcare']">Dog Care</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav2" [routerLink]="['/pets/catcare']">Cat Care</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav2" [routerLink]="['/pets/rescues']">Shelters & Rescues</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav2" [routerLink]="['/pets/videos']">Videos</a>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col"></div>
    <div class="col-6 main">
    <h2>Videos</h2>
    <div class="row">
      <div class="col-4">
        <iframe class="videoGuide" src="https://www.youtube.com/embed/Ro0KH6hAnHA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>How to Take Care of a Puppy: Brining a Puppy Home</p>
      </div>
      <div class="col-4">
        <iframe class="videoGuide" src="https://www.youtube.com/embed/hvXqfEJwcBk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>How to Take Care of a Puppy: Your Dog's First Vet Appointment</p>
      </div>
      <div class="col-4">
        <iframe class="videoGuide" src="https://www.youtube.com/embed/04Oi6DSwPKo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>How to Feed a Puppy: How to Choose the Best Puppy Food</p>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
          <iframe class="videoGuide" src="https://www.youtube.com/embed/QbdCWlc5fXg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <p>How to Take Care of a Puppy: Taking Care of Puppies</p>
        </div>
      <div class="col-4">
          <iframe class="videoGuide" src="https://www.youtube.com/embed/a_X13V54idk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <p>How to Potty Train a Puppy: How to House Train Your Dog</p>
        </div>
      <div class="col-4">
          <iframe class="videoGuide" src="https://www.youtube.com/embed/2ZU-b8hytHE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <p>How to Teach Your Dog to Speak (and Stop Barking)</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <iframe class="videoGuide" src="https://www.youtube.com/embed/1dKiaKSEilg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <p>How to Stop Puppy Biting: Training Puppies Not to Bite</p>
        </div>
        <div class="col-4">
          <iframe class="videoGuide" src="https://www.youtube.com/embed/c8Xwz8g4ki0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <p>Leash Training a Puppy: How to Leash Train a Puppy or Dog</p>
        </div>
        <div class="col-4">
          <iframe class="videoGuide" src="https://www.youtube.com/embed/5W058M4Qdyc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <p>How to Crate Train a Puppy: Create Training a Puppy</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <iframe class="videoGuide" src="https://www.youtube.com/embed/Q_W_X--SWW0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <p>How to Choose a Puppy: Tips on How to Pick a Puppy</p>
        </div>
        <div class="col-4">
          <iframe class="videoGuide" src="https://www.youtube.com/embed/mn8Dtgh2eMc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <p>How to Clean Your Dog's Ears at Home: Tips For Cleaning a Dog's Ears</p>
        </div>
        <div class="col-4">
          <iframe class="videoGuide" src="https://www.youtube.com/embed/wtCyZQRnEvw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <p>Adopting a Dog From a Shelter: Puppy Rescue Myths and Facts</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <iframe class="videoGuide" src="https://www.youtube.com/embed/OSOevoUnHkM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <p>Dog Training with Positive Reinforcement: How to Train a Dog</p>
        </div>
        <div class="col-4">
          <iframe class="videoGuide" src="https://www.youtube.com/embed/W0Tes-3CcbU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <p>How to Brush Your Dog's Teeth: Dog Teeth Cleaning Tips</p>
        </div>
        <div class="col-4">
          <iframe class="videoGuide" src="https://www.youtube.com/embed/bJ4wUsHIoFc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <p>How to Choose Dog Food: What Do the Labels Mean?</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-4">
          <iframe class="videoGuide" src="https://www.youtube.com/embed/7s0AXJtLL0Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <p>Tips for Brining Home a New Cat: How to Bring a Kitten Home</p>
        </div>
        <div class="col-4">
          <iframe class="videoGuide" src="https://www.youtube.com/embed/sZlj8VMPlHI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <p>How to Litter Train a Kitten: Litter Training a Cat</p>
        </div>
        <div class="col-4">
          <iframe class="videoGuide" src="https://www.youtube.com/embed/x2yKokYyZsw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <p>How to Train a Kitten to Play Gently: Cat Training Tips</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <iframe class="videoGuide" src="https://www.youtube.com/embed/goKrh5DYOJc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <p>How to Understand Your Cat's Body Language and Mood</p>
        </div>
        <div class="col-4">
          <iframe class="videoGuide" src="https://www.youtube.com/embed/jPhGpktH56Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <p>Cat Adoption & Rescue: Tips for Adopting a Cat From a Shelter</p>
        </div>
        <div class="col-4">
          <iframe class="videoGuide" src="https://www.youtube.com/embed/ARtnYW9pDak" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <p>Cat Scratch Tips: How to Stop Your Cat From Scratching</p>
        </div>
      </div>
  </div>
    <div class="col"></div>
  </div>
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>