<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
  <title>Animal Advocate</title>
</head>
<body>
  <div id="myNav2">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link nav2 active" [routerLink]="['/pets/about']">About Pet Adoption</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav2" [routerLink]="['/pets/dogcare']">Dog Care</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav2" [routerLink]="['/pets/catcare']">Cat Care</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav2" [routerLink]="['/pets/rescues']">Shelters & Rescues</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav2" [routerLink]="['/pets/videos']">Videos</a>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col"></div>
    <div class="col-10 col-sm-6 main">
    <h2>Videos</h2>
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <a data-toggle="modal" data-target="#videoModal" (click)="show('Ro0KH6hAnHA')"><img src="../assets/vid01.jpg" alt="Video of How to Take Care of a Puppy: Brining a Puppy Home"></a>
        <p>How to Take Care of a Puppy: Brining a Puppy Home</p>
      </div>
      <div class="col-sm-12 col-md-4">
        <a data-toggle="modal" data-target="#videoModal" (click)="show('hvXqfEJwcBk')"><img src="../assets/vid02.jpg" alt="Video of How to Take Care of a Puppy: Your Dog's First Vet Appointment"></a>
        <p>How to Take Care of a Puppy: Your Dog's First Vet Appointment</p>
      </div>
      <div class="col-sm-12 col-md-4">
        <a data-toggle="modal" data-target="#videoModal" (click)="show('04Oi6DSwPKo')"><img src="../assets/vid03.jpg" alt="Video of How to Feed a Puppy: How to Choose the Best Puppy Food"></a>
        <p>How to Feed a Puppy: How to Choose the Best Puppy Food</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <a data-toggle="modal" data-target="#videoModal" (click)="show('QbdCWlc5fXg')"><img src="../assets/vid04.jpg" alt="Video of How to Take Care of a Puppy: Taking Care of Puppies"></a>
        <p>How to Take Care of a Puppy: Taking Care of Puppies</p>
        </div>
      <div class="col-sm-12 col-md-4">
        <a data-toggle="modal" data-target="#videoModal" (click)="show('a_X13V54idk')"><img src="../assets/vid05.jpg" alt="Video of How to Potty Train a Puppy: How to House Train Your Dog"></a>
        <p>How to Potty Train a Puppy: How to House Train Your Dog</p>
        </div>
      <div class="col-sm-12 col-md-4">
        <a data-toggle="modal" data-target="#videoModal" (click)="show('2ZU-b8hytHE')"><img src="../assets/vid06.jpg" alt="Video of How to Teach Your Dog to Speak (and Stop Barking)"></a>
        <p>How to Teach Your Dog to Speak (and Stop Barking)</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <a data-toggle="modal" data-target="#videoModal" (click)="show('1dKiaKSEilg')"><img src="../assets/vid07.jpg" alt="Video of How to Stop Puppy Biting: Training Puppies Not to Bite"></a>
        <p>How to Stop Puppy Biting: Training Puppies Not to Bite</p>
      </div>
      <div class="col-sm-12 col-md-4">
        <a data-toggle="modal" data-target="#videoModal" (click)="show('c8Xwz8g4ki0')"><img src="../assets/vid08.jpg" alt="Video of Leash Training a Puppy: How to Leash Train a Puppy or Dog"></a>
        <p>Leash Training a Puppy: How to Leash Train a Puppy or Dog</p>
      </div>
      <div class="col-sm-12 col-md-4">
        <a data-toggle="modal" data-target="#videoModal" (click)="show('5W058M4Qdyc')"><img src="../assets/vid09.jpg" alt="Video of How to Crate Train a Puppy: Create Training a Puppy"></a>
        <p>How to Crate Train a Puppy: Create Training a Puppy</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <a data-toggle="modal" data-target="#videoModal" (click)="show('Q_W_X--SWW0')"><img src="../assets/vid10.jpg" alt="Video of How to Choose a Puppy: Tips on How to Pick a Puppy"></a>
        <p>How to Choose a Puppy: Tips on How to Pick a Puppy</p>
      </div>
      <div class="col-sm-12 col-md-4">
        <a data-toggle="modal" data-target="#videoModal" (click)="show('mn8Dtgh2eMc')"><img src="../assets/vid11.jpg" alt="Video of How to Clean Your Dog's Ears at Home: Tips For Cleaning a Dog's Ears"></a>
        <p>How to Clean Your Dog's Ears at Home: Tips For Cleaning a Dog's Ears</p>
      </div>
      <div class="col-sm-12 col-md-4">
        <a data-toggle="modal" data-target="#videoModal" (click)="show('wtCyZQRnEvw')"><img src="../assets/vid12.jpg" alt="Video of Adopting a Dog From a Shelter: Puppy Rescue Myths and Facts"></a>
        <p>Adopting a Dog From a Shelter: Puppy Rescue Myths and Facts</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <a data-toggle="modal" data-target="#videoModal" (click)="show('OSOevoUnHkM')"><img src="../assets/vid13.jpg" alt="Video of Dog Training with Positive Reinforcement: How to Train a Dog"></a>
        <p>Dog Training with Positive Reinforcement: How to Train a Dog</p>
      </div>
      <div class="col-sm-12 col-md-4">
        <a data-toggle="modal" data-target="#videoModal" (click)="show('W0Tes-3CcbU')"><img src="../assets/vid14.jpg" alt="Video of How to Brush Your Dog's Teeth: Dog Teeth Cleaning Tips"></a>
        <p>How to Brush Your Dog's Teeth: Dog Teeth Cleaning Tips</p>
      </div>
      <div class="col-sm-12 col-md-4">
        <a data-toggle="modal" data-target="#videoModal" (click)="show('bJ4wUsHIoFc')"><img src="../assets/vid15.jpg" alt="Video of How to Choose Dog Food: What Do the Labels Mean?"></a>
        <p>How to Choose Dog Food: What Do the Labels Mean?</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <a data-toggle="modal" data-target="#videoModal" (click)="show('7s0AXJtLL0Y')"><img src="../assets/vid16.jpg" alt="Video of Tips for Brining Home a New Cat: How to Bring a Kitten Home"></a>
        <p>Tips for Brining Home a New Cat: How to Bring a Kitten Home</p>
      </div>
      <div class="col-sm-12 col-md-4">
        <a data-toggle="modal" data-target="#videoModal" (click)="show('sZlj8VMPlHI')"><img src="../assets/vid17.jpg" alt="Video of How to Litter Train a Kitten: Litter Training a Cat"></a>
        <p>How to Litter Train a Kitten: Litter Training a Cat</p>
      </div>
      <div class="col-sm-12 col-md-4">
        <a data-toggle="modal" data-target="#videoModal" (click)="show('x2yKokYyZsw')"><img src="../assets/vid18.jpg" alt="Video of How to Train a Kitten to Play Gently: Cat Training Tips"></a>
        <p>How to Train a Kitten to Play Gently: Cat Training Tips</p>
      </div>
    </div>
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <a data-toggle="modal" data-target="#videoModal" (click)="show('goKrh5DYOJc')"><img src="../assets/vid19.jpg" alt="Video of How to Understand Your Cat's Body Language and Mood"></a>
          <p>How to Understand Your Cat's Body Language and Mood</p>
        </div>
        <div class="col-sm-12 col-md-4">
          <a data-toggle="modal" data-target="#videoModal" (click)="show('jPhGpktH56Q')"><img src="../assets/vid20.jpg" alt="Video of Cat Adoption & Rescue: Tips for Adopting a Cat From a Shelter"></a>
          <p>Cat Adoption & Rescue: Tips for Adopting a Cat From a Shelter</p>
        </div>
        <div class="col-sm-12 col-md-4">
          <a data-toggle="modal" data-target="#videoModal" (click)="show('ARtnYW9pDak')"><img src="../assets/vid21.jpg" alt="Video of Cat Scratch Tips: How to Stop Your Cat From Scratching"></a>
          <p>Cat Scratch Tips: How to Stop Your Cat From Scratching</p>
        </div>
      </div>

      <div class="bd-example">
        <div mdbModal #content="mdbModal" class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-body mb-0 p-0">
                <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                  <iframe class="embed-responsive-item" [src]="videoUrl" allowfullscreen></iframe>
                </div>
              </div>
              <div class="modal-footer justify-content-center flex-column flex-md-row">
                <button class="myButton" data-dismiss="modal" (click)="content.hide()">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>