<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
  <title>Animal Advocate</title>
</head>
<body>
  <div id="myNav">
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['/pets']"><i class="fas fa-home"></i> Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/pets/info']"><i class="fas fa-info-circle"></i> About Us</a>
      </li>
      <li class="nav-item" *ngIf="_httpService.signedIn">
        <a class="nav-link" [routerLink]="['/pets/new']"><i class="fas fa-paw"></i> Add Pet</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/pets/login']" *ngIf="!_httpService.signedIn"><i class="fas fa-user"></i> Sign In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()" [routerLink]="['/pets']" *ngIf="_httpService.signedIn"><i class="fas fa-user"></i> Sign Out</a>
      </li>
    </ul>
  </div>
  <a [routerLink]="['/pets']"><img id="logo" src="assets/animal_advocate.png"></a>
  
  <router-outlet></router-outlet>

  <button type="button" class="myButton" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample" *ngIf="_httpService.signedIn">Chat</button>
  <div id="chatBox" [ngbCollapse]="isCollapsed">
    <div class="container-fluid">
      <div class="row topper">
        <p>{{item.room}}</p>
      </div>
      <div class="row">
        <!-- <div class="userInfo">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" [(ngModel)]="user" class="form-control" id="username" placeholder="Enter username">
          </div>
        </div> -->
        <div class="col-sm-7 roomInfo">
          <select name="roomInput" id="roomInput" class="form-control" [(ngModel)]="room">
            <option selected></option>
            <option value="Lobby">Lobby</option>
            <option value="Dog">Dog Chat</option>
            <option value="Cat">Cat Chat</option>
            <option value="Volunteer">Volunteer Chat</option>
          </select>
        </div>
        <div class="col-sm-5 chatButtons">
          <button type="button" class="btn btn-primary" (click)="join()">Join</button>
          <button type="button" class="btn btn-default" (click)="leave()">Leave</button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 well">
          <div *ngFor="let item of messageArray">
          <span><strong>{{_httpService.user}}: </strong> {{item.message}}</span>
          </div>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-sm-11">
          <input type="text" class="form-control" [(ngModel)]="messageText">            
        </div>
        <div class="col-sm-1">
          <button class="chatSend" type="button"(click)="sendMessage()"><i class="far fa-share-square"></i></button>
        </div>
      </div>
    </div>
  </div>

  <div id="myFooter">
    <p>Animal Advocate is not a real adoption site and only serves the purpose of demonstrating web functionality.</p>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>