html, body {
    min-height: 100%;
}
img {
    display: inline-block;
}
.nav1 {
    float: right;
    color: #ce93d8;
    font-weight: bold;
    margin-top: .75rem;
}
a:hover { 
    color: #f57c00;
}
#myNav {
    height: 5rem;
    background-color: white;
}
#logo {
    height: 4.75rem;
    margin: .1rem;
    margin-left: 1rem;
}
#chatBox {
    float: right;
    width: 22rem;
    bottom: 0;
    border: 1px solid black;
}
#myFooter {
    height: 4rem;
    background-color: #ce93d8;
}
.myButton {
    float: right;
    font-weight: bold;
    margin: 1rem 0;
    padding: .5rem;
    bottom: 0;
    border-radius: 1rem;
    color: white;
    background-color: #f57c00;
}
.chatSend {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}
.well {
    height: 200px;
    padding: 15px;
    overflow-y: scroll;
}
.topper {
    background-color: #ce93d8;
    height: 1.5rem;
}
.nav-item {
    display: inline-block;
}
.disclaimer {
    text-align: center;
    color: white;
}