html, body {
    height: 100%;
}
a {
    color: white;
    font-weight: bold;
    margin-top: .75rem;
}
a:hover { 
    color: #f57c00;
}
p {
    text-align: center;
    color: white;
}
#myNav {
    height: 4rem;
    background-color: #ce93d8;
}
#logo {
    margin-top: -4rem;
    width: 12rem;
    height: 10rem;
}
#myFooter {
    height: 4rem;
    background-color: #ce93d8;
}
#chatBox {
    float: right;
    width: 22rem;
    border: 1px solid black;
}
.myButton {
    float: right;
    font-weight: bold;
    margin: 1rem 0;
    padding: .5rem;
    bottom: 0;
    border-radius: 1rem;
    color: white;
    background-color: #f57c00;
}
.chatSend {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    border: 1px solid blue;
}
.well {
    height: 200px;
    padding: 15px;
    overflow-y: scroll;
}
.topper {
    background-color: red;
    height: 1.5rem;
}