<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
  <title>Animal Advocate</title>
</head>
<body>
<div id="myNav2">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link nav2 active" [routerLink]="['/pets/privacy']">Privacy Policy</a>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col"></div>
    <div class="col-6">
    <h2>Pet Adoption FAQs</h2>
    <p>Thank you for using Animal Advocate! We’re here to help you every step of the way from “just looking” at over 250,000 adoptable pets, to bringing your pet home, to living a long and happy life with your new family member.</p>
    <p>The following links will take you to some of the most frequently asked questions about adopting a pet that you see on Animal Advocate. If you can’t find the answer below, please contact us (see the bottom of this page) with any additional questions you have.</p>
   
    <a href=""><h6>How do I search for a pet?</h6></a>
    <ul>
      <a href=""><li>Can I save my search or be notified when new pets are available?</li></a>
      <a href=""><li>Is the pet I see on Animal Advocate still adoptable?</li></a>
      <a href=""><li>How often is Animal Advocate updated?</li></a>
      <a href=""><li>How do I adopt a pet I see on Animal Advocate?</li></a>
    </ul>

    <a href=""><h6>How do I meet a pet I see on Animal Advocate?</h6></a>
    <ul>
      <a href=""><li>Does contacting the shelter or rescue group reserve the pet I’m interested in?</li></a>
      <a href=""><li>Do I need to apply to Animal Advocate?</li></a>
      <a href=""><li>How will I know if I’ve been approved to adopt a pet?</li></a>
      <a href=""><li>How long will it take to hear back from the adoption group?</li></a>
    </ul>

    <a href=""><h6>How can I adopt a pet I see on Animal Advocate?</h6></a>
    <ul>
      <a href=""><li>Does contacting the adoption group put the pet on hold?</li></a>
      <a href=""><li>Am I applying to Animal Advocate?</li></a>
      <a href=""><li>How will I know if I’ve been approved to adopt a pet?</li></a>
      <a href=""><li>How long will it take to hear back from the adoption group?</li></a>
    </ul>

    <a href=""><h6>What are the requirements for adopting a pet?</h6></a>
    <ul>
      <a href=""><li>Can I adopt a pet who’s out of state?</li></a>
      <a href=""><li>Will there be an adoption fee?</li></a>
      <a href=""><li>Why do shelters and rescue groups charge adoption fees?</li></a>
    </ul>

    <a href=""><h6>Why wasn’t I selected to adopt?</h6></a>

    <a href=""><h6>How can I tell if a rescue group is real or a scam?</h6></a>

    <a href=""><h6>How do I make a complaint about a shelter or rescue group?</h6></a>

    <p>Do you still have a question? Contact us here and we’ll be happy to help.</p>
  </div>
    <div class="col"></div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>