<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
  <title>Animal Advocate</title>
</head>
<body>
  <div id="myNav2">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link nav2 active" [routerLink]="['/pets/about']">About Pet Adoption</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav2" [routerLink]="['/pets/dogcare']">Dog Care</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav2" [routerLink]="['/pets/catcare']">Cat Care</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav2" [routerLink]="['/pets/rescues']">Shelters & Rescues</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav2" [routerLink]="['/pets/videos']">Videos</a>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col"></div>
    <div class="col-10 col-sm-6 main">
      <p>Thank you for your interest in pet adoption! Whether you’re just looking, or you’re ready to adopt, we’re here to provide the necessary information for adopters to help their pets adjust to life in their new home.</p>

      <h4>What are the benefits of pet adoption?</h4>
      <p>Adopting a pet comes with numerous advantages including:</p>
      <ul>
        <li>You’re saving a life. Millions of healthy, adoptable pets are euthanized every year simply for a lack of a home. When you adopt your pet from a shelter or rescue group, you’re giving a deserving pet a loving home.</li>
        <li>Many adoptable pets are already trained.</li>
        <li>When you adopt an older pet, you will often get a sense of their personality and temperament. You also already know their full grown size!</li>
        <li>An adoption fee can save you money! Adoption fees often include vaccinations, spay/neutering, microchips and other veterinary costs to help prepare the pet for a new home.</li>
      </ul>
      
      <h4>What kinds of pets are in shelter/rescue groups?</h4>
      <p>There are all types of pets waiting for their forever homes. Did you know…</p>
      <ul>
        <li>25% of adoptable pets are purebreds.</li>
        <li>There are many puppies and kittens available for adoption.</li>
        <li>You can also adopt birds, horses, rabbits, and a variety of other small and furry pets.</li>
        <li>Most adoptable pets are happy, healthy, house-trained, high quality pets.</li>
      </ul>
      <p>We encourage you to read more about other adoption myths.</p>       
      
      <h4>How can I find a pet that’s the best fit for my family?</h4>
      <p>As you begin your search for a new family member, there are a few important things to keep in mind. Most importantly, you need to think through what will be a good fit for both your family and the pet. Thinking through the lifestyle and needs of both your family and your future pet will help ensure you find the right companion.</p>
      <p>Here are some important considerations to help you and your family identity some of the qualities you would like in a new companion animal:</p>
      <ul>
        <li><b>Activity Level</b> – It’s important to consider the energy level of your future pet to ensure it matches that of your family.</li>
        <li><b>Household Type</b> – The amount of space in your home is an important factor in determining the right adoptable pet for you — a large home or a studio apartment affects the type of pet that makes sense for your current situation. Additional considerations are things like yard space — are you living in the suburbs or the city, do you have access to outside space, etc.</li>
        <li><b>Family Dynamic</b> – If you live in a hectic, loud home with kids running around, that should be considered. Or, if you have other pets, you will want to ensure your new companion will get along with everyone already living in your home.</li>
        <li><b>How much time do you have to spend with a pet</b> – We also encourage you think about whether you’d like a pet that both gives and needs a lot of attention, or would you prefer a pet that is more independent?</li>
        <li><b>Training</b> – Many adoptable pets are already trained, but you should certainly consider the amount of training you want to do to determine both the type and age of your new companion pet.</li>
      </ul>
      <p>There are many more possible considerations — gender, allergies, etc. — so the best way to help ensure your family makes the best decision is to consult an adoption counselor at your local shelter or rescue. They will be able to help you narrow in on selecting a pet that will match your lifestyle, while also ensuring your lifestyle matches the needs of the pet.</p>
      <p>Good luck in your search!</p>
      </div>
    <div class="col"></div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>